#primary {
  padding-block: 20px; /* block top e bottom*/

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css */
  div:nth-child(2) {
    margin-inline: auto; /* inline direita e esquerda*/
  }

  div:nth-child(3) {
    justify-self: end; /*alinha indivualmente para o fim*/
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

